@import "../../../sass-common/pc-base";
body {
    background: url(./images/404-bg.png) no-repeat center;
    overflow: hidden;
    position: relative;
    .wrapper {
      margin: 0 auto;
      position: relative;
      top: 50%;
      margin-top: -200px;
      width: 300px;
      height: 400px;

      background-size: cover;

      .home-page-btn {
        @include bolo-btn(270px, 40px, #000, #ffaf1a);
        font-size: 16px;
        display: block;
        position: relative;
        margin: 0 auto;
        margin-top: 320px;
        text-decoration: none;
      }
    }
}
