div
  .download-bar
    .logo
    .ip-name
      | 网易
      br
      | 菠萝
    .content
      | 双手下载
      br
      | 以示清白
    .btn(v-on:click="download")
  //div {{msg}}
  .download-guide
    .container
      .content 请点击这里使用浏览器打开
      .triangle
      .icon
