$main-color:#ffaf1a;
.download-bar{
  width:100%;height:1.4rem;background:#000;position:fixed;left:0;bottom:0;display: -webkit-box;overflow: hidden;-webkit-box-align:center;z-index:5;
  .logo{width:.94rem;height:.94rem;margin-left:.2rem;background:url(./images/logo.png) no-repeat;background-size:100%;}
  .ip-name{font-size: .38rem;font-weight: 700;margin-left: .2rem;line-height:.47rem;color:#fff;}
  .content{line-height:.47rem;color:#ffaf1a;margin-left:.22rem;font-size: .38rem;font-weight: 700;padding-left:.22rem;border-left:1px solid #fff;-webkit-box-flex:1;}
  .btn{width:2.52rem;height:1.4rem;background:url(./images/download-btn.gif) no-repeat;background-size:100%;display: block;}
}
.download-guide{
  width:100%;height:100%;position: fixed;top:0;left:0;background:rgba(0,0,0,.8);z-index:10;display:none;
  .container{
    position:absolute;top:0;right:.23rem;padding-top:.23rem;
    .content{padding-left:.66rem;padding-right:.16rem;height:.5rem;line-height:.5rem;border-radius:.05rem;background:$main-color;font-size:.24rem;}
  }
}
